<%provide :title, "Freelancer Philadelphia Ruby on Rails Development"%>

<style>
 .header{
 	margin-bottom: 0;
 }
</style>

<div class="banner clearfix shout light">

	<div class="">
		<div class="hero-unit center no-border">
			<h1>I am Wale, a Freelance developer building Web Applications with Ruby on Rails</h1>
		</div>
	</div>
</div>

<div class="banner clearfix">
	<h1>Let me build your custom Web App</h1>
	<p>Differentiate your company from other businesses by building a custom application. I will build scalable and maintainable software with the latest techniques in data collection, processing, visualization, test automation and security. Custom software elevates your brand above the competition.</p>
</div>

<div class="banner clearfix light">
	<h1>Long term application support</h1>
	<p>Businesses with +6 figure revenue depend on me to maintain their Rails web site each week. I am available for monthly retainers for a fixed number of development hours. Most of my clients are so happy they stay with me for more than 1 year.</p>
</div>

<div class="banner clearfix ">
	<h1>Hire a responsible and reliable developer</h1>
	<p>My clients describe me as Dependable, Quick, Self Driven, A developer that cares about Business Success.</p>

	<div class="action"> <a href="<%= contact_path %>" class="btn-primary btn btn-large">Hire me today! &nbsp;<i class="icon-circle-arrow-right icon-white"></i></a> </div>

</div>



<div class="row-fluid clientlogos banner clearfix light">
	<h3 class="short_headline margin-top"><span>my Clients</span></h3>
	<ul class="slides">
		<li><a href='http://www.floorsusa.com'>
					<%= image_tag src="fusa-logo.png", alt:'Floors USA' %>
				</a>
		</li>
		<li><a href='http://www.21pstem.org'>
			  <%= image_tag src="21pstem-logo.png", alt:'21PSTEM' %>
			 </a>
		</li>
		<li><a href='http://realworldmatters.org'>
			   <%= image_tag src="realWorldMatters-logo.png", alt:'Real World Matters' %>
			  </a>
		</li>
	</ul>
</div>
<!--close row-fluid clientlogos--> 		


<!--p>Ruby on Rails is a rapid application development framework that allows us to model application features and
						respond to customers needs quickly, implement industry standard best practices, and deliver high quality applications that will meet
						your needs now and in the future.</p-->

<!-- <div class="landing button">
  <a href=<%=contact_path%> id="contact-us" class="center-text" >  <h2 >Contact Us Now</h2>   </a>
</div> -->


