<%= form_for(@blog) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
	  <div class="control-group">
	  	<%= f.label :title %>
	  	<%= f.text_field :title, class:"span12" %>
	  </div>
	  <div class="control-group">
	    <%= f.label :content %>
	    <%= f.text_area :content, rows: 50, class: "span12" %>
	  </div>
	  <div class="control-group">
	  	<%= f.label :visible, "Visible?" %>
	  	<%= f.check_box :visible %>
	  </div>
	  <div class="control-group">
	    <%= f.submit "Save", class: "btn btn-primary btn-large pull-right"%>
	    <%= link_to 'Blogs', blogs_path, class: "btn btn-primary btn-large" %>
	  </div>
  </fieldset>
<% end %>
