<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container"> 
      <nav> 
        <ul class="nav pull-right">
          <li> <%= link_to 'Sign In', signin_path %> </li>
          <% if signed_in? %>
            <li><%= link_to "Profile", current_user %></li>
            <li><%= link_to "Settings", 
                 edit_user_path(current_user) %></li>
            <li><%= link_to "Users", users_path %></li>
            <li> <%= link_to 'Sign Out', signout_path, method: 'delete' %> </li> 
          <% end %>
        </ul>
      </nav>
    </div>
  </div> 
</header>

<div class="container">
 
    

  <% @blogs.each do |blog| %>
    
      <h1> <%=link_to blog.title, blog %> </h1>
      <p> <%= blog.content %></p>
      <h5> comments </h3>
       <ol>
        
        <% blog.comments.each do |c| %> 
          <li>
            <%= c.content %> 
          </li>
        <% end %>
       </ol>

      <ul>
      <% if signed_in? %>
        <li> <%= link_to 'Edit', edit_blog_path(blog) %> </li>
        <li> <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
      </ul>

  <% end %>

  

  <br />

  <%= link_to 'New Blog', new_blog_path %>
  <%= will_paginate @blogs %>

</div>