<div class="container">
  <%= will_paginate @blogs, class: 'pagination pagination-right no-margin pagination-mini', 
      previous_label: '<', next_label: '>', renderer: 'FeverRenderer' %>
</div>
<div class="hero-unit">
    <div class="container">
      <h2>Blog</h2>
    </div>
    <!--close container--> 
  </div>
  <!--close hero-unit-->
  
  <div class="container clearfix" id="main-content"> 
    <!--begin main content-->
    <div class="row-fluid"> 
      <!--begin row-fluid-->
      <div class="span12 blog-summary primary-column"> 
        
        <% @blogs.each do |blog| %>
          <!-- begin entry-post -->
          <article class="entry-post">
            <header class="entry-header">
              <h3 class="entry-title"> <%=link_to blog.title, blog %> </h3>
              <div class="byline">
                 
                <i class="icon-time"></i> <abbr class="published" title="<%= blog.created_at %>"> <%= blog.created_at.strftime("%B %-d, %Y") %></abbr> &nbsp;&nbsp; 
                <a href="<%= blog_path(blog.friendly_id) %>#disqus_thread">Comments</a>
                
                
              </div>
            </header>
            <!--end entry-header --> 
            
            <!--begin loop of entry-posts for summary page-->
            
            <div class="entry-content">
              <%= markdown truncate(blog.content, length: 800, seperator: ' ' ) %>
              <p class="more right">
                <%= link_to blog, class: 'btn btn-primary' do %>
                  Read More &rarr;
                <% end %> 
                <% if admin? %>
                  <%= link_to 'Edit', edit_blog_path(blog), class: 'btn btn-primary' %> 
                  <%= link_to 'Destroy', blog, 
                        method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-primary' %>
                <% end %>
              </p>
            </div>
            <!-- close entry-content -->
            
            <footer class="entry-footer"> 
              <%= render partial: "created_at", locals: {blog: blog} %>
            </footer>
            <!--end entry-footer--> 
          </article>
          <!-- end entry-post --> 
        <% end %>
        
        <!--end loop of entry-posts for summary page-->
        
        <%= will_paginate @blogs, class: 'pagination pagination-right no-margin pagination-mini', 
      previous_label: '<', next_label: '>', renderer: 'FeverRenderer' %>
      </div>
      <!-- close .span9 . primary-column .blog-summary-->
    </div>
    <!--close row-fluid--> 

    <%= debug(params) if Rails.env.development? %>
  </div>
  <!--close .container id="main-content" --> 

  <!--  for displaying comment count  -->
    <script type="text/javascript">
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'railsfever'; // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
          var s = document.createElement('script'); s.async = true;
          s.type = 'text/javascript';
          s.src = '//' + disqus_shortname + '.disqus.com/count.js';
          (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
    </script>