<p id="notice"><%= notice %></p>

<p>
  <h1> <%= @blog.title %> </h1>
  <%= @blog.content %>
</p>
 

<% if signed_in? %>
<%= link_to 'Edit', edit_blog_path(@blog) %> |
<% end %>
<%= link_to 'Back', blogs_path %>

<%= render 'shared/comment_form' %>

<ol>        
	<% @blog.comments.each do |c| %> 
	<li>
	<%= c.content %> 
	</li>
	<% end %>
</ol>

<%= debug(params) if Rails.env.development? %>
