<%provide :title, @blog.title %>

<p id="notice"><%= notice %></p>

<div class="container clearfix" id="main-content">
		<div class="row-fluid">
			<section class="call-to-action center clearfix">
				<div class="message">
					<h3>Need an experienced Rails developer?</h3>
					<p>I am working hard right now to make my clients super happy! You could be next.</p>
				</div>
				<div class="action"> <a href="<%= contact_path %>" class="btn-primary btn btn-large">Hire me today! &nbsp;<i class="icon-circle-arrow-right icon-white"></i></a> </div>
			</section>
		</div>
		<!--close row-fluid-->

		<!--begin main content-->
		<div class="row-fluid blog"> 
			<!--begin row-fluid-->
			<div class="span12 blog-detail primary-column"> 
				<!--begin primary-column-->
				<article class="entry-post">
					<header class="entry-header">
						<h1><%= @blog.title %></h1>
						<div class="byline">
							<i class="icon-time"></i> 
							<abbr class="published" title="<%= @blog.created_at %>"> <%= @blog.created_at.strftime("%B %-d, %Y") %></abbr> &nbsp;&nbsp; 
			                <i class="icon-eye-open"></i> <abbr><%=pluralize(@blog.views, 'View')%></abbr> &nbsp;&nbsp;
			                <i class="icon-heart"></i> <abbr><%=pluralize(@blog.likes, 'Like')%></abbr> &nbsp;&nbsp;
			                <%= link_to "#disqus_thread" do %>
			                  <!--i class="icon-comments-alt"></i-->
			                <% end %>
						</div>
						
						<!--add this share buttons for mobile viewers-->
						<div class="addthis_toolbox addthis_16x16_style"> 
							<a class="addthis_button_preferred_2"></a> 
							<a class="addthis_button_preferred_3"></a> 
							<a class="addthis_button_preferred_7"></a> 
							<a class="addthis_button_preferred_6"></a> 
							<a class="addthis_button_preferred_10"></a> 
							<a class="addthis_button_preferred_4"></a> 
							<a class="addthis_button_compact"></a> 
						</div>
					</header>
					<!--end entry-header-->
					
					<div class="entry-content">		
						<%= markdown @blog.content %>	
					</div>
					<!--end entry-content-->
					<footer class="entry-footer"> 	
						<%= render partial: "created_at", locals: {blog: @blog} %>
						<!-- add this share buttons for desktop and larger screens -->
						<div class="addthis_toolbox addthis_16x16_style"> 
							<a class="addthis_button_preferred_2"></a> 
							<a class="addthis_button_preferred_3"></a> 
							<a class="addthis_button_preferred_7"></a> 
							<a class="addthis_button_preferred_6"></a> 
							<a class="addthis_button_preferred_10"></a> 
							<a class="addthis_button_preferred_4"></a> 
							<a class="addthis_button_compact"></a> 
						</div>
						<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50b7b03737b7ccb9">
						</script> 
						<!-- AddThis Button END --> 
					</footer>
					<!--end entry-footer--> 

						
					<p class="more right">
						<a id='like-button' class='btn btn-primary' data-blog="<%=@blog.id%>" >
							<i class='icon-heart'></i>
							Like
						</a>
						<% if admin? %>
							<%= link_to 'Edit', edit_blog_path(@blog), 
								class: 'btn btn-primary' %>
						<% end %>
					</p>
						
					
				</article>
				<!--end entry-post -->
				
				<div class="entry-pagination">
					<ul class="pager">
						<% if @blog.previous_post %>
							<li>	
								<%= link_to @blog.previous_post do %>
									&larr; Older
								<% end %>
							</li>
						<% end %>
						<% if @blog.next_post %>
							<li>	
								<%= link_to @blog.next_post do %>
									Newer &rarr;
								<% end %>
							</li>
						<% end %>						
					</ul>
					<!--close pager--> 
				</div>
				<!--end entry-pagination-->
				

				<div id="disqus_thread"></div>
			</div>
		</div>
		<%= debug(params) if Rails.env.development? %>
<div>

	
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'railsfever'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<!--  for displaying comment count  -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'railsfever'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
     


