
   <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
  


  <div class="hero-unit">
    <div class="container">
      <h1>Contact</h1>
    </div>
    <!--close container--> 
  </div>
  <!--close hero-unit-->



<div class="container clearfix" id="main-content">
    <div class="row-fluid reverse-order contact-page">
      <p class="clearfix"> Do you want to find out more about the services we offer? Do you have a project in mind? Is your application in need of rescue? Are you planning for the next phase of your project? Whatever your needs are, we will be happy to hear from you!  </p>
      <hr />
      
      
      <div class="span5">
          <%= form_for @message, :url => contact_path do |form| %>
       
              <fieldset>
                <div class="control-group">
                  <%= form.label :first_name, 'First Name' %>
                  <%= form.text_field :first_name, class: "span10" %>
                </div>
                <div class="control-group">
                  <%= form.label :last_name, 'Last Name' %>
                  <%= form.text_field :last_name, class: "span10" %>
                </div>
                <div class="control-group">
                  <%= form.label :email, 'Email' %>
                  <%= form.email_field :email, class: "span10" %>
                </div>
                <div class="control-group">
                  <%= form.label :tel , 'Telephone' %>
                  <%= form.telephone_field :tel, class: "span10" %>
                </div>
                <div class="control-group">
                  <%= form.label :subject %>
                  <%= form.text_field :subject, class: "span10" %>
                </div>
                <div class="control-group">
                  <%= form.label :body, 'Your Message' %>
                  <%= form.text_area :body, rows:3, class: "span10" %>
                </div>
                <%= form.button "Send", class: "btn btn-primary btn-large" %>
              </fieldset>

        <% end %>
      </div>
      <!--close span5 --> 
      <div id="map_canvas" class="span7"></div>
      <!--close span7 -->
    </div>
    <!--close row-fluid--> 
  </div>
  <!--close .container role="main-content" --> 
