<%= form_for @message, :url => contact_us_path do |form| %>
  
  <div class="row-fluid">
    <fieldset>
      <%= form.text_field :first_name, placeholder: "First Name" %>
      <%= form.text_field :last_name, placeholder: "Last Name" %>
      <%= form.email_field :email, placeholder: "Email" %>
      <%= form.telephone_field :tel, placeholder: "Telephone Number" %>
      <%= form.text_field :subject, placeholder: "Subject" %>
      <%= form.text_area :body, rows:10, placeholder: "Please describe your project" 
      %>
      <%= form.button "Send", class: "pull-right button" %>
    </fieldset>
  </div> 

<% end %>