<!--begin footer -->
<footer id="footer" class="clearfix">
<div class="container"><!--footer container-->
	
	<div class="row-fluid">
		<div class="span12">
			
		</div>
		<!--close span12--> 
	</div>
	<!--close row-fluid-->
	
	<div class="row-fluid">
		<div class="span4">
			<!--section>
				<h4>Status</h4>
					<p>
						Actively seeking new clients
					</p>	
			</section-->
			<!--close section--> 

			<section>
				<h4>Contact Me</h4>
				<p>Hire me today to start your project!</p>
				<p>Rails Fever LLC<br>
					Philadelphia Pennsylvania USA<br>
					<strong>phone:</strong> <a href="tel:267 999 9253" class="tele">267 999 WALE</a><br>
					<strong>email:</strong> <a href="mailto:contact@railsfever.com">contact@railsfever.com</a> <br>
				</p>
			</section>
			<!--close section-->
			
			

			<section>
				<div class="user clearfix visuallyhidden"> 
					<a href=<%= signin_path %> ></a> 
				</div>
			</section>
			<!--close section -->
		</div>
		<!-- close .span4 --> 
		
		
		
		<!--section containing blog posts-->
		<div class="span6">
			<section>
				
				<h4>Read my recent Blog posts</h4>
				<ul class="footerPosts">
					<% Blog.where(visible:true).limit(6).each do |b| %>
							<li> 
								<%= link_to( 
									truncate(b.title, length: 60, seperator: ' '), 
									blog_path(b.friendly_id)) 
								%> 
								<span class="meta">
									<%= b.created_at.strftime("%B %-d, %Y") 
									%>
								</span>
							</li>
					<% end %>
				</ul>
			</section>
		</div>
		<!-- close .span4 --> 

		<!--section containing newsletter signup and recent images-->
		<!--div class="span4">
			<section>
				<h4>Recent News</h4>
				<p>
					<a href="http://ankane.github.io/chartkick/">
						Beautiful Javascript charts with one line of Ruby
					<a>
				</p>
				<p>
					<a href="https://deadmanssnitch.com/">
						Ensure your periodic tasks are actually running
					<a>
				</p>
				<p>
					<a href="http://railsgirlssummerofcode.org/campaign/">
						Help Rails Girls students get into open source projects
					<a>
				</p>
				<p>
					<a href="http://37signals.com/svn/posts/3432-why-i-loved-building-basecamp-for-iphone-in-rubymotion">
						Building Basecamp for iPhone in RubyMotion
					<a>
				</p>
				<p>
					<a href="http://blog.programmableweb.com/2013/05/30/heroku-launches-platform-api/">
						Heroku Launches Platform API
					<a>
				</p>
				<p>
					<a href="http://venturebeat.com/2013/05/09/white-house-drafts-official-open-data-policy-of-the-united-states-on-github/#lUqdMOwEPFljQFrq.99">
						White House drafts official ODP of the U.S on GitHub
					<a>
				</p>
				<p>
					<a href="http://venturebeat.com/2013/06/07/at-our-current-rate-of-progress-ipv6-will-be-fully-implemented-on-may-10-2048/#9qUOetFzq1BJTq52.99">
						IPv6 will be fully implemented on May 10, 2148
					<a>
				</p>
			</section>
			<!--close section-->
		<!--/div-->
		<!-- close .span4 --> 
	</div>
	<!-- close .row-fluid--> 
</div>
<!-- close footer .container--> 

<!--change this to your stuff-->
<section class="footerCredits">
	<div class="container">
		<ul class="clearfix">
			<li>© <%=Time.now.year%> Rails Fever LLC. All rights reserved.</li>
			<li><a href="<%= sitemap_path %>">Site Map</a></li>
		</ul>
	</div>
	<!--footerCredits container--> 
</section>
<!--close section--> 
</footer>
<!--/.footer--> 

<span class="backToTop"><a href="#top">back to top</a></span>
