<!-- begin accesibility skip to nav skip content -->
<ul class="visuallyhidden" id="top">
	<li><a href="#nav" title="Skip to navigation" accesskey="n">Skip to navigation</a></li>
	<li><a href="#page" title="Skip to content" accesskey="c">Skip to content</a></li>
</ul>
<!-- end /.visuallyhidden accesibility--> 

<!-- mobile navigation trigger-->
<h5 class="mobile_nav"><a href="javascript:void(0)">&nbsp;<span></span></a></h5>
<!--end mobile navigation trigger-->



<!-- begin .header-->
<header class="header  clearfix"> 
	<%= image_tag src="print-logo.png", class:'print logo', alt:'Rails Fever' %>
	<div class="container"> 
		
		<!-- begin #main_menu -->
		<nav id="main_menu" class="ddsmoothmenu">
			<ul class="accordmobile">
				<li><a href="<%= root_path %>">Home</a></li>
				<li id="blog" class="parent"> <a href=<%=blogs_path %> > Blog <i></i> </a>
					<ul>
						<% Blog.limit(5).each do |b| %>
							<li> <%= link_to( 
									truncate(b.title, length: 24, seperator: ' '), 
									blog_path(b.id)) %> </li>
						<% end %>
					</ul>
				</li>
				<li><a href="<%= about_path %>">About</a></li>
				<li><a href="<%= contact_path %>">Contact</a></li>
				<% if signed_in? %>
					<li class="parent">
						<a href="#">Admin <i></i> </a>
						<ul>
	        				<li><%= link_to 'New Blog', new_blog_path %></li>
	        				<li><%= link_to "view my account", current_user %></li>
	       					<li><%= link_to "edit my account", 
	             				edit_user_path(current_user) %>
	             			</li>
	        				<li><%= link_to "view all users", users_path %></li>
	        				<% if admin? %>
	        					<li><%= link_to "view all comments", comments_path %></li>
	        				<% end %>
	        				<li> <%= link_to 'Log Out', signout_path, 
	        				method: 'delete' %> </li> 
		      				
						</ul>
					</li>
				<% end %>
			</ul>
		</nav>
		<!-- close / #main_menu --> 
		
		<!-- begin #logo -->
		<div id="logo"> <a href="<%= root_path %>"> <%= image_tag src="trans.gif", alt:'' %><em>Rails Fever</em><!-- ie7 support--></a> </div>
		<!-- end #logo --> 
		
	</div>
	<!-- close / .container--> 
</header>
<!-- close /.header --> 