<!DOCTYPE html>
<html>
<head>
  <title>Quantum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="author" content="akinwale olaleye">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

	<!--[if lt IE 9]>
	        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
  
  
</head>
<body>

  <!-- RENDER FLASH MESSAGES -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %> </div>
  <% end %>

  <%= yield %>

</body>

<%= javascript_include_tag "application" %>

</html>
