  <!DOCTYPE html>
  <html>
  <head>
  <title>Rails Fever | <%= yield(:title) %> </title>
  <meta name="author" content="Akinwale Wale Olaleye">
  <meta name="description" content="<%= yield(:description) %>">
  <meta name="keywords" content="<%= yield(:keywords) %>">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= csrf_meta_tags %>
  <meta name="<author" content="akinwale olaleye">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

  <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <% if Rails.env.production? %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/google_surveys' %>
  <% end %>
  </head>
  <body class="index-flex-light">

  <%= render 'layouts/header' %>
  <!-- RENDER FLASH MESSAGES -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %> </div>
  <% end %>

  <div id="page"> 
    <%= yield %>

    <%= render 'layouts/footer' %>

    <!-- for fixing sqeunce jscript error on pages -->
    <span id="sequence"> </span>
  </div>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "application" %>

  </body>





  </html>
