  <!DOCTYPE html>
  <html>
  <head>
  <title>Rails Fever | Building Web Sites and Apps using Ruby on Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <meta name="<author" content="akinwale olaleye">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

  <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- FOR GOOGLE ANALYTICS -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-39283511-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>

  </head>
  <body class="index-flex-light">

  <%= render 'layouts/header' %>
  <!-- RENDER FLASH MESSAGES -->
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"> <%= value %> </div>
  <% end %>

  <div id="page"> 
    <%= yield %>

    <%= render 'layouts/footer' %>

    <!-- for fixing sqeunce jscript error on pages -->
    <span id="sequence"> </span>
  </div>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false" %>
  <%= javascript_include_tag "application" %>

  </body>





  </html>
